@charset "utf-8";

@media (max-width: 1250px){

  /* 서브콘텐츠 메뉴 */
  #sub-visual .row-box {padding: 30px 20px;}
  .sub-cont-menu dd {padding: 20px 40px;}
  .sub-cont-menu dd li {width: 33%; padding-right: 0; padding-left: 15px;}
  .sub-cont-menu dd li:first-child {padding-left: 15px;}
  .sub-cont-menu dd li:first-child:before {display: block;}

}



@media (max-width: 900px){

  /* 서브콘텐츠 메뉴 */
  #sub-visual {background-size: cover;}
  .sub-cont-menu {height: auto;}
  .sub-cont-menu dt {width: 220px; padding: 30px 25px 25px;}
  .sub-cont-menu dd {width: calc(100% - 220px);}
  .sub-cont-menu dt h2 {font-size: 1.3em;}
  .sub-cont-menu dd li {width: 49%;}

}


@media (max-width: 800px){

  /* 서브콘텐츠 메뉴 */
  .sub-cont-menu {display: block;}
  .sub-cont-menu dt {width: 100%; padding: 22px 25px 20px;}
  .sub-cont-menu dd {width: 100%; padding: 15px 15% 15px 25%;}

}


@media (max-width: 700px){

  /* 서브콘텐츠 메뉴 */
  .sub-cont-menu dd {width: 100%; padding: 15px 5% 15px 15%;}

}


@media (max-width: 600px){

  /* 서브콘텐츠 메뉴 */
  .sub-cont-menu dd {padding: 15px;}
  .sub-cont-menu dd li {display: block; width: 100%; line-height: 1.6; padding-right: 0; padding-left: 0; text-align: center;}
  .sub-cont-menu dd li:before {display: none;}
  .sub-cont-menu dd li:first-child {padding-left: 0;}
  .sub-cont-menu dd li:first-child:before {display: none;}

}

@media (max-width: 400px){

  /* 서브콘텐츠 메뉴 */
  .sub-cont-menu dt {padding: 18px 25px 15px}
  .sub-cont-menu dt h2 {font-size: 1.2em;}

}


